.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: .5rem 1rem;
  width: 100%;
  z-index: 999;
  background-color: var(--primary);
  margin: auto;
}

button {
  background: none;
  color: var(--text-color);
  border: none;
  border-bottom: 1px solid var(--secondary);
  position: relative;
  padding: 8px;
  margin: 0 15px;
}

button:hover {
  font-weight: bold;
}

.theme-toggle {
  position: absolute;
  right: 10px;

  button {
    border-bottom: none;
    background-color: var(--background-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

    .hide-hover {
      display: inline;
    }
    .show-hover {
      display: none;
    }
  }

  button:hover {
    color: var(--secondary);
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

    transform: scale(1.3);

    .hide-hover {
      display: none;
    }
    .show-hover {
      display: inline;
    }
  }
}
