<div class="footer">
  <div class="container">
    <div class="row centered">

      <div class="left-footer col-md-4 flex column centered">
        <div class="print-wrapper flex row">
          <button class="print" onClick="window.print()"> <fa-icon [icon]="faPrinter"></fa-icon> {{ "print" | translate }}</button>
          <fa-icon class="print-help" [icon]="faQuestion" matTooltip="{{ 'print_environment' | translate }}"></fa-icon>
        </div>
        <div class="flex row"><button class="pdf" matTooltip="{{ 'pdf_help' | translate }}"> <fa-icon [icon]="faPdf"></fa-icon> {{ "pdf" | translate }}</button></div>

      </div>

      <div class="col-md-4 flex column center-footer">
        <h3>{{ 'get_in_touch' | translate }}</h3>
        <div class="flex row centered">
          <a class="profile-email" target="_blank" href="mailto:{{basics.email}}"><fa-icon [icon]="faEnvelope"></fa-icon></a>
          <a *ngFor="let profile of basics.profiles" [href]=profile.url target="_blank" class="socials" rel="noopener noreferrer">
            <fa-icon [icon]="icons[profile.network | lowercase]"></fa-icon>
          </a>
        </div>
      </div>

      <div class="col-md-4 flex column right-footer">
        <div>
          {{ 'powered_by' | translate }} <a href="https://angular.io" target="_blank">Angular</a>&nbsp; <fa-icon [icon]="faAngular"></fa-icon>
        </div>
        <div>
          {{ 'based_on' | translate }} <a href="https://jsonresume.org/" target="_blank">JSON Resume</a>&nbsp; <fa-icon [icon]="faCode"></fa-icon>
        </div>
        <div>
          {{ 'link_to' | translate }} <a href="https://github.com/MrRandol/resume" target="_blank">{{ "source_code" | translate }}</a>&nbsp; <fa-icon [icon]="icons['github']"></fa-icon>
        </div>
      </div>

    </div>
  </div>
</div>
