<div appScrollSection="basics" class="container" *ngIf="basics">
  <div class="basics row">

    <div class="profile-picture col-md-4">
      <div class="picture-wrapper">
        <div class="offset-border back"></div>
        <img [src]="basics.image| githubImage" (load)="hideLoader()"/>
        <div class="image-skeleton" *ngIf="isProfileImageLoading"><app-spinner></app-spinner></div>
        <div class="offset-border front"></div>
      </div>
    </div>


    <div class="profile col-md-8">
      <h1 class="intro-title pixel-border">{{basics.name}}</h1>
      <h2>{{ basics.label | translate}}</h2>
      
      
      <div class="flex row summary-contact">
      
        <!-- Summary -->
        <div class="job-summary"><markdown [data]="basics.summary | translate | joinStringArray"></markdown></div>
        
        <div class="flex column contacts">

          <!-- Email contact -->
          <div class="email">
            <fa-icon class="email-icon" [icon]="faEnveloppe"></fa-icon> 
            <a target="_blank" href="mailto:{{basics.email}}">
              {{ basics.email }}
            </a>
          </div>

          <!-- Socials contact -->
          <div class="socials flex row">
            <a *ngFor="let profile of basics.profiles" 
              [href]=profile.url 
              target="_blank" 
              rel="noopener noreferrer" 
              matTooltip="{{profile.network}}"
              class="{{profile.network | lowercase}}">
              <fa-icon [icon]="icons[profile.network | lowercase]"></fa-icon>
            </a>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
