.basics {
  margin-top: 20px;
}

.profile-picture img {
  width: 300px;
}

.image-skeleton {
  width: 300px;
  height: 300px;
  background-color: var(--background-color);
}

.profile-picture {
  justify-content: flex-end;
  display: flex;
  align-items: flex-start;
  padding-right: 5%;

  .picture-wrapper {
    margin: 17px 0;
    position: relative;

    .offset-border {
      border: 4px solid;
      height: 100%;
      position: absolute;
      width: 100%;
    }

    .offset-border.front {
      border-color: var(--primary);
      right: -17px;
      top: -17px;
    }

    .offset-border.back {
      border-color: var(--secondary);
      bottom: -17px;
      left: -17px;
      z-index: -1;
    }
  }
}

.profile {
  align-items: center;

  h1 {
    border-bottom: 0.1em solid var(--primary);
  }

  .job-summary p {
    margin: 0;
  }
}

.summary-contact {
  justify-content: space-between;
}

.location-icon {
  color: var(--secondary);
}

.email-icon {
  color: var(--primary);
  background-color: var(--secondary);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  margin: 15px 3px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px !important;
}

.email a {
  font-size: 1.25em;
}

.socials {
  margin-bottom: 1em;
}

.socials a {
  font-size: 1.8rem;
}

.socials .github:hover {
  color: black;
}

.socials .twitter:hover {
  color: black;
}

.socials .linkedin:hover {
  color: #0a66c2;
}


@media print {
  .profile-picture {
    width: 20%;
  }
  .profile {
    width: 80%;
  }

  .profile-picture img {
    width: 100px !important;
  }

  .contacts {
    align-items: flex-start !important;
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    .email-icon {
      background: none !important;
      margin: 0 0 .5em 0 !important;
    }
  }
  
  .image-skeleton {
    width: 100px;
    height: 100px;
    background-color: var(--background-color);
  }
  
  .profile-picture {
    justify-content: flex-end;
    display: flex;
    align-items: flex-start;
    padding-right: 5%;
  
    .picture-wrapper {
      margin: 7px 0;
      position: relative;
  
      .offset-border {
        border: 1px solid;
        height: 100%;
        position: absolute;
        width: 100%;
      }
  
      .offset-border.front {
        border-color: var(--primary);
        right: -7px;
        top: -7px;
      }
  
      .offset-border.back {
        border-color: var(--secondary);
        bottom: -7px;
        left: -7px;
        z-index: -1;
      }
    }
  }
}