<div appScrollSection="basics" class="container" *ngIf="basics">
  <div class="basics row">

    <div class="profile-picture col-md-4">
      <div class="picture-wrapper">
        <div class="offset-border back"></div>
        <img [src]="basics.image| githubImage" (load)="hideLoader()"/>
        <div class="image-skeleton" *ngIf="isProfileImageLoading"><app-spinner></app-spinner></div>
        <div class="offset-border front"></div>
      </div>
    </div>


    <div class="profile col-md-8">
      <h1 class="intro-title pixel-border">{{basics.name}}</h1>
      <h2>{{ basics.label | translate}}</h2>
      <div class="job-summary"><markdown [data]="basics.summary | translate | joinStringArray"></markdown></div>

      <div class="flex column centered">
        <!-- <h3 class="category">{{ 'contact' | translate }}</h3> -->

        <div class="contact flex row">
          <div class="flex column centered email">
            <h3><fa-icon [icon]="faEnveloppe"></fa-icon> Email</h3>
            <a class="profile-email" target="_blank" href="mailto:{{basics.email}}">
              {{ basics.email }}
            </a>
          </div>

          <div class="flex column centered socials">
            <h3>{{ 'socials' | translate }}</h3>
            <div class="flex row centered">
              <a *ngFor="let profile of basics.profiles" [href]=profile.url target="_blank" rel="noopener noreferrer">
                <fa-icon [icon]="icons[profile.network.toLowerCase()]"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
