.row {
  border-bottom: 1px solid var(--border-color);
  margin: 2em 0;
  padding-bottom: 2em;
  width: 100%;
}

.experience-logo {
  margin-top: 0.25em;
  padding-top: 0.25em;
  height: 50px;
}

.experience-date {
  color: var(--secondary);
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.experience-date>span {
  display: inline-block;
}

.experience-date .small {
  color: var(--info);
  font-size: .4em;
  font-style: italic;
  position: absolute;
  top: -10px;
}

.experience-title {
  font-weight: 700;
  text-align: right;
}

.experience-place {
  font-style: italic;
  text-align: right;
}

.today {
  font-size: .8em;
}


.experience-timeline {
  position: relative;
  background: linear-gradient(var(--secondary), var(--secondary)) no-repeat center/2px 100%;
}


.experience-timeline::before {
  content: "";
  background-color: var(--secondary);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translatex(-12px);
}

@media print {
  .experience-right-col {
    width: 77%;
  }
  .experience-left-col {
    border-right: 1px solid var(--border-color);
    width: 23%;
  }

  .experience-date {
    font-size: 1.5em;
  }

  .experience-title {
    font-size: 1em;
  }

  .experience-place {
    font-size: 1em;
  }
  
}