<div class="d-print-gird row" [ngClass]="{'last': isLast}">

  <div class="d-flex flex-column justify-content-center align-items-end col-md-2 experience-left-col">

    <div class="experience-date">
      <span>
        <div class="small" *ngIf="displayMonth">{{ startDate | date:'MMMM' | lowercase | translate }}</div>{{ startDate | date:'yyyy' }}
      </span>
      <ng-container *ngIf="displayEndDate">
        <span class="experience-date-splitter"> - </span>
        <span>
          <div class="small" *ngIf="displayMonth">{{ endDate | date:'MMMM' | lowercase | translate }}</div><span *ngIf="!endDate" class="today">{{ 'today' | translate }}</span>{{ (endDate | date:'yyyy') }}
        </span>
      </ng-container>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-end">
      <div class="experience-title">{{ title | translate }}</div>
      <div class="experience-place">{{ place }}</div>
      <a class="d-print-none" *ngIf="url && url !== ''; else experienceLogo" [href]="url"><ng-container *ngTemplateOutlet="experienceLogo"></ng-container></a>
    </div>
  </div>

  <div class="experience-timeline d-print-none col-md-1"></div>
  
  <div class="experience-right-col col-md-9"><markdown [data]="summary | translate | joinStringArray"></markdown></div>

</div>


<ng-template #experienceLogo><img *ngIf="displayLogo" class="d-print-none experience-logo" [src]="logo | githubImage"></ng-template>
