/***********************
    COMMON
***********************/
body {
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
}

hr {
  color: #bbbbbb;
}

.btn, .waves-effect {
  margin: 10px;
  color: #333333;
  background: rgba(200, 200, 200, 0.7);
  text-transform: none;
}

.btn:over, .waves-effect:over {
  background: rgba(180, 180, 180, 0.7);
}

.light-color {
  color: #888888
}

.category-title {
  text-align: center;
  padding-top: 2em;
}

.card {
  margin: 2em;
}

.chips {
  padding-top: 0.5em;
  border: none;
}

/***********************
    NAVBAR
***********************/
.navbar-avatar {
  max-width: 3em;
  max-height: 3em;
}

/***********************
    PROFILE
***********************/
.profile .col {
  text-align: center;
  padding: 2em;
}

.profile .name {
  font-size: 50px;
  font-weight: bold;
}

.profile .label {
  margin: 0;
  font-size: 2.5em;
}

.profile .summary {
  font-size: 2em;
  line-height: 1.3em;
  white-space: pre-wrap;
}

.profile .social {
  text-align: center;
}

.profile .social .social-icon {
  font-size: 3.5em;
  padding: 0.2em;
}

.skill {
  text-align: center
}

.skill svg {
  max-width: 3em;
}
/***********************
    WORK
***********************/

.work-card .summary {
  padding: 0.5em;
}
