/***********************
    COMMON
***********************/
body {
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
  color: #333333;
  background: red;
  background-image: url('./img/still.png') !important;
}

hr {
  color: #bbbbbb;
}

nav ul a, .contact-info .btn {
  color: #eeeeee
}

.btn, .waves-effect {
  margin: 10px;
  color: #333333;
  background: rgba(200, 200, 200, 0.7);
  text-transform: none;
}

.btn:over, .waves-effect:over {
  background: rgba(180, 180, 180, 0.7);
}

.light-color {
  color: #888888
}

.category-title {
  text-align: center;
  padding-top: 2em;
}

.custom-card {
  margin: 2em;
  text-align: center;
  position: relative;
}

.custom-card-logo {
  position: absolute;
  max-height: 50px;
  max-width: 150px;
  top: 24px;
  left: 24px;
}
@media only screen and (max-width: 1026px) {
    #.custom-card-logo {
        display: none;
    }
}

.custom-card .summary {
  padding: 0.5em;
  text-align: justify;
}

.chips {
  padding-top: 0.5em;
  border: none;
}

.highlights {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.highlight-chip {
  color: #eeeeee;
  font-weight: 500;
}

/***********************
    NAVBAR
***********************/
.nav-wrapper ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-avatar {
  max-width: 3em;
  max-height: 3em;
}

.nav-wrapper .language-button,
.sidenav .language-button {
  color: transparent;
  cursor: pointer;
  border: 2px solid #fbfbfb;
  background-position: -2px;
}

.nav-wrapper .language-button {
  position: absolute;
  right: 24px;
  bottom: 5px;
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
  width: 2.5em;
  height: 2.5em;
  background-size: 2.5em 2.5em;
}

.sidenav .language-button {
  width: 3em;
  height: 3em;
  background-size: 3em 3em;
  padding: 0;
  margin-left: 2em;
}

.language-button.french {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/1200px-Flag_of_France.svg.png);
}

.language-button.english {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1920px-Flag_of_the_United_Kingdom.svg.png);
}

#mobile-nav {
  padding-top: 1em;
}

/***********************
    FOOTER
***********************/
.footer-links {
  float: right;
  text-align: right;
  color: #fbfbfb;
}

.footer-links a {
    color: #fbfbfb;
    text-decoration: underline;
}

/***********************
    PROFILE
***********************/
#basics {
  min-height: 80vh;
  max-height: 100vh;
  vertical-align: middle;
}

.profile .col {
  text-align: center;
  padding: 2em;
}

.profile .valign-wrapper {
  flex-direction: column;
}

.profile .name {
  font-size: 50px;
  font-weight: bold;
}

.profile .label {
  margin: 0;
  font-size: 2.5em;
}

.profile .summary {
  font-size: 2em;
  line-height: 1.3em;
  white-space: pre-wrap;
}

.profile .social {
  text-align: center;
}

.profile .social .social-icon {
  font-size: 3.5em;
  padding: 0.2em;
}

.skill {
  text-align: center
}

.skill svg {
  max-width: 3em;
}

/***********************
    SKILLS
***********************/
.skills .col {
    margin: 0.7em auto;
}

.skills .collapsible-header {
  justify-content: center;
}

.skills ul {
  margin: 2em;
}

.skill p {
  margin: 0;
  font-weight: bold;
}
