.sidebar {
    height: 100%;
    background-color: var(--primary);
}

.profile {
    text-align: center;
    padding: 20px;
}

.intro-title {
    font-size: 15px;
    font-weight: bold;
    border-bottom: none;
}

.job-title {
    font-size: 14px;
}

.contacts {
    color: var(--text-color) !important;
    font-size: 13px;
    border: 1px solid var(--border-color);
    text-align: left;
    padding: 5px 13px;
    a {text-decoration: none !important;}
    span {padding: 3px 0;}
}

.category {
    font-size: 14px;
}

.category.secondary {
    font-size: 13px;
    font-weight: bold;
}

.skills {
    font-size: 12px;
    text-align: left;
}

.skill-separator {
    padding: 0 3px;
}

.progress {
    --bs-progress-border-radius: 0;
    height: 10px;
    margin: 5px 0;
}

.progress-bar {
    background-color: var(--secondary);
}

.certifications h2 {
    margin-top: 30px;
}

.certifications p {
    margin: 0;
}

.certifications .date {
    font-weight: bold;
}
